body {
	background: #E2E3DF;
	font-family: Geneva,arial,serif;
}

body > header {
	background: #515B5E;
}

body > header > hgroup > h1 {
	color: white;
	font-size: 1.5em;
	padding-left: 0.5em;	
}

/* Articles */
article {
	-moz-column-count: auto;
	-webkit-column-count: auto;
	column-count: auto;
	-moz-column-width: 18em;
	-webkit-column-width: 18em;
	-column-width: 18em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	-column-gap: 1em;
	-moz-column-rule: 2px solid #2E3233;
	-webkit-column-rule: 2px solid #2E3233;
	-column-rule: 2px solid #2E3233;
	margin: 1em;
	text-align: justify;	
}

article > header {
	margin-bottom: 1em;
}

article > header > h1 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
	font-size: 2em;
	font-weight: bolder;
}

article > header > time {
	border-bottom: 1px solid #2E3233;
}

article > footer {
	font-style: italic;
	font-weight: bold;
	float: right;
}

/* End Articles */
